   <!-- Intro Section
   ================================================== -->
   <section id="intro">

      <!-- Flexslider Start-->
	   <div id="intro-slider" class="flexslider">
			
		   <ul class="slides" >

			   <!-- Slide -->
			   <li>
				   <div class="row">
					   <div class="col full">
						   <div class="slider-text">
							   <h2>Welcome to <br><span>Q. Music</span></br></h2>
							   
						   </div>
					   </div>
				   </div>
			   </li>

            <!-- Slide -->
			   <li>
				   <div class="row">
					   <div class="col full">
						   <div class="slider-text">
							   <h2>See how much you help your favorite artists.<br>You will be rewarded one day.</br></h2>
							   
						   </div>
					   </div>
				   </div>
			   </li>

		   </ul>
		   
	   </div>
	   <!-- Flexslider End-->

   </section> <!-- Intro Section End-->