<!DOCTYPE html>
<html lang="en">
<head>
<% include head %>
</head>
<body>

<% include navbar %>

<% include main_section %>		<!-- Navigation end -->



<% include footer %>

<% include js_files %>


</body>
</html>