		<section id="#music" class="section">

			<div class="container">

				<div class="row" style="margin-left: auto; margin-right: auto;">
					<h2 style="text-align:center;">Receive an email when a person opens up the link you send them</h2>
					
				
				  <div class="form-group">
				    <label for="url">URL to send</label>
				    <input name="url" type="email" class="form-control" id="url">
				  </div>
				  <div class="form-group">
				    <label for="url">Name of  the person you're sending the URL to</label>
				    <input name="visitor" type="text" class="form-control" id="visitor">
				  </div>
				  <div class="form-group">
				    <label for="email">Your email (to receive the notification the person visited the URL)</label>
				    <input name="email" type="email" class="form-control" id="email">
				  </div>
				   <div class="form-group">
				    <label id="url_label" for="email">The new URL to send and be able to track</label>
				    
				    <input id="created_url" type="text" disabled class="form-control" value="">
				  </div>
				  
				  <button type="submit" class="btn btn-default" id="create_url">Create URL</button>
				
				</div>


			</div><!-- .container -->

		</section>

		<!-- Services section end -->
<script src="ZeroClipboard.js"></script>	

