<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Victor Hanas</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="victor-porfolio/css/bootstrap.css" rel="stylesheet">
    <link rel="shortcut icon" href="logo_qa_ico.ico">

    <!-- Custom CSS -->
    <link href="victor-porfolio/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="victor-porfolio/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Victor Hanas</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#work">Work</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#resume">Resume</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Talk To Me</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="logo_new.png" style="width:300px; border-style:none;"alt="">
                    <div class="intro-text">
                       
                     
                        <span class="skills">Directing art, one brand at a time.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Work Grid Section -->
    <section id="work">
        <div class="container">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-sm-4 work-item">
                    <a href="#workModal1" class="work-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/crystal_head_vodka.png" class="img-responsive work-image" alt="">
                    </a>
                </div>
                <div class="col-sm-4 work-item">
                    <a href="#workModal2" class="work-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/pearls_premium.png" class="img-responsive work-image" alt="">
                    </a>
                </div>
                <div class="col-sm-4 work-item">
                    <a href="#workModal3" class="work-link work-image" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/palate.png" class="img-responsive work-image" alt="">
                    </a>
                </div>
                <div class="col-sm-4 work-item">
                    <a href="#workModal4" class="work-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/friendlys.png" class="img-responsive work-image" alt="">
                    </a>
                </div>
                <div class="col-sm-4 work-item">
                    <a href="#workModal5" class="work-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/boston_symphony_orchestra.png" class="img-responsive work-image" alt="">
                    </a>
                </div>
                <div class="col-sm-4 work-item">
                    <a href="#workModal6" class="work-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/dblood.png" class="img-responsive work-image" alt="">
                    </a>
                </div>
                
                
                <div class="col-sm-4 work-item">
                    <a href="#workModal7" class="work-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/one_show.png" class="img-responsive work-image" alt="">
                    </a>
                </div>
    
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Resume</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row" style="margin-left:64px;">
                <div class="col-lg-12">
                    <h2 style="font-size:30px; margin-left:95px;">Education</h2>
                </div>
                <div class="col-md-4">
                    <p style="font-size: 20px;">Boston University, Boston, MA</p>
                </div>
                <div class="col-md-8">
                    <p style="font-size: 20px;">Master of Science in Advertising, 3.58 GPA</p>
                </div>
                
                <div class="col-md-4">
                    <p style="font-size: 20px;">Boston University, Boston, MA</p>
                </div>
                <div class="col-md-8">
                    <p style="font-size: 20px;">Master of Science in Advertising, 3.58 GPA</p>
                </div>
                <div class="col-lg-12">
                    <h2 style="font-size:30px; margin-left:95px;">Education</h2>
                </div>
                <div class="col-md-4">
                    <p style="font-size: 20px;">Boston University, Boston, MA</p>
                </div>
                <div class="col-md-8">
                    <p style="font-size: 20px;">Master of Science in Advertising, 3.58 GPA</p>
                </div>
                
                <div class="col-md-4">
                    <p style="font-size: 20px;">Boston University, Boston, MA</p>
                </div>
                <div class="col-md-8">
                    <p style="font-size: 20px;">Master of Science in Advertising, 3.58 GPA</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Your Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Your Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Your Message</label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">

        <div class="footer-below">
            <div class="container">
                <div class="row">
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    
                    <div class="col-lg-12">
                        Victor Hanas
                    </div>
                    <div class="col-lg-12">
                        vhanas1@bu.edu
                    </div>
                    <div class="col-lg-12">
                        410.916.7232
                    </div>
                    <div class="col-lg-12">
                        Website Developed by <a href="http://www.quinlanadvertising.com">Quinlan Advertising</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Work Modals -->
    <div class="work-modal modal fade" id="workModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>CRYSTAL HEAD VODKA</h2>
                            <hr class="star-primary">
                            <p>Speculative re-launch of Crystal Head Vodka. Deliverables include: print ad, out-of-home poster, billboard, and promotional package design (book package). The promotional package is designed to be sent to big city's hottest bars to reintroduce this brand of vodka to the public (New York, Boston, Los Angeles). The package includes a bottle of Crystal Head and two shot glasses. This is meant to convince bar managers & mixologists that serving Crystal Head will attract droves of new customers to their establishments.</p>
                            <ul class="list-inline item-details">
                                <li>"Vodka is sophisticated. Crystal Head is enlightening."
                                </li>
                            </ul>
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/crystal_head1.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/crystal_head2.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/crystal_head3.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/crystal_head4.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/crystal_head5.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/crystal_head6.png" class="img-responsive work-image" alt="">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="work-modal modal fade" id="workModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>PEARL'S PREMIUM GRASS SEED</h2>
                            <hr class="star-primary">
                            <p>Speculative re-branding of Pearl's Premium. This campaign highlights the water-saving and low-maintenance features of the grass seed, allowing consumers to feel as if they just need to plant it, and forget. Deliverables include logo redesign, print advertisements, package redesign, and website redesign.</p>

                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/pearls_premium1.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/pearls_premium2.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/pearls_premium3.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/pearls_premium4.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/pearls_premium5.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/pearls_premium6.png" class="img-responsive work-image" alt="">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="work-modal modal fade" id="workModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>PALATE</h2>
                            <hr class="star-primary">
                            <p>A social networking app designed for those of us with food allergies & sensitivities. Imagine being able to search for, check-in at, rate, and review places to eat according to your dietary restrictions. Imagine being confident in having a slice of flourless chocolate cake and not worrying about a stray peanut or a gluten reaction. Get a personalized, user-generated menu from those that checked-in before you.</p>
                            <p>Start at your homepage...</p>
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/palate1.png" class="img-responsive work-image" alt="">
                            <p>... and search for a palate-reviewed restaurant.</p>
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/palate2.png" class="img-responsive work-image" alt="">
                            
                            <p>Once you choose, check in...</p>
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/palate3.png" class="img-responsive work-image" alt="">
                            
                            <p>... and check out your friends' reviews.</p>
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/palate4.png" class="img-responsive work-image" alt="">
                            
                            <p>Check out your allergy-sensitive personalized menu...</p>
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/palate5.png" class="img-responsive work-image" alt="">
                            
                            <p>... and leave your own reviews!</p>
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/palate6.png" class="img-responsive work-image" alt="">
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="work-modal modal fade" id="workModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>FRIENDLY'S</h2>
                            <hr class="star-primary">
                            <p>Speculative agency work done at Allen & Gerritsen for Friendly's. Deliverables include: menu item iconography, menu stamp designs, and Friendly's Fribble T-shirt design.</p>
                            <p>With Yamuna Hapwood</p>
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/friendlys1.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/friendlys2.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/friendlys3.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/friendlys4.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/friendlys5.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/friendlys6.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/friendlys7.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/friendlys8.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/friendlys9.png" class="img-responsive work-image" alt="">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="work-modal modal fade" id="workModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>BOSTON SYMPHONY ORCHESTRA</h2>
                            <hr class="star-primary">
                            <p>Speculative advertising campaign for a Boston Symphony Orchestra album entitled, "Syncopation." Deliverables include: CD cover, web banner, & leaderboard. These are shown executed on a webpage and an iPod display.</p>

                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/boston_symphony_orchestra1.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/boston_symphony_orchestra2.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/boston_symphony_orchestra3.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/boston_symphony_orchestra4.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/boston_symphony_orchestra5.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/boston_symphony_orchestra6.png" class="img-responsive work-image" alt="">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="work-modal modal fade" id="workModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>FROZEN</h2>
                            <hr class="star-primary">
                            <p>D&AD New Blood Awards 2014: change the habits of mega-city inhabitants through the power of brand. Tokyo is the most populous city on Earth, but it's in a suicidal population crisis. By giving its inhabitants the ice cream-based tools they need, Tokyo can take time to FREEZE.</p>
                            <iframe width="100%" height="420" src="https://www.youtube.com/embed/CumN8ksuGw0" frameborder="0" allowfullscreen></iframe>
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/dblood1.jpg" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/dblood2.jpg" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/dblood3.jpg" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/dblood4.png" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/dblood5.jpg" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/dblood6.jpg" class="img-responsive work-image" alt="">
                            <img style="width: 75%;margin-left: auto;margin-right: auto;" src="work/dblood7.jpg" class="img-responsive work-image" alt="">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="work-modal modal fade" id="workModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>#THISISART</h2>
                            <hr class="star-primary">
                            <p>The One Club: 2014 Young Ones Competition-Save the Arts: get people to appreciate the arts in a creative and interactive way. With #thisisart, Instagram is encouraging its users to discover the new, the beautiful, and the unconventional that surrounds them. Through social media and environmental execution, #thisisart opens people's eyes to a wondrous world of user-generated creativity.</p>
                            <p>With Cecilia Cao, Pian Shih, Cheryl Sinclair</p>
                                <iframe width="100%" height="420" src="https://www.youtube.com/embed/-NsSgym7mfY" frameborder="0" allowfullscreen></iframe>
                            

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="victor-porfolio/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="victor-porfolio/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="victor-porfolio/js/classie.js"></script>
    <script src="victor-porfolio/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="victor-porfolio/js/jqBootstrapValidation.js"></script>
    <script src="victor-porfolio/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="victor-porfolio/js/freelancer.js"></script>
    

</body>

</html>
