		<!-- Intro section end -->

		<section id="#music" class="section">

			<div class="container">

				<div class="row text-center" style="margin-left: auto; margin-right: auto;">
					<h2 style="text-align:center;"> The Artists We Work With</h2>
					
					<img class="music-logo" src="versusmusic.png">
					
					<div class="col-lg-12 wow bounceInLeft">
<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/1712237&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                                                
					</div>
				<div class="row" style="margin-left: auto; margin-right: auto;">
					<img class="music-logo" src="dialedin_logo.png">
					<div class="col-lg-12 wow bounceInRight">
<iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/70745204&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>                                               
					</div>


			</div><!-- .container -->

		</section>

		<!-- Services section end -->
		
