

		<section id="about" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-6 wow bounceInLeft">

						<h3></h3>
						<p></p>



					</div><!-- .com-md-6 -->

					<div class="col-md-6 wow bounceInRight">
						<img src="logo.png" alt="">
					</div>

					<div class="clearfix"></div>



				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- About section start -->