		<!-- Clients section end -->

		<!-- Contact section start -->

		<section id="contact-header" class="section-header">

			<div class="color-overlay">

				<div class="container">

					<div class="row">

						<div class="col-sm-12 wow bounceInDown">
							<h2>Contact Us</h2>
							<p></p>
						</div>

					</div>

				</div>

			</div>

		</section>

		<!-- Contact-data section start -->

		<section id="contact-data" class="callout-light">

			<div class="container">

				<div class="row">

					<div class="wow bounceInLeft">
						<div class="service">
							<div class="icon">
								<i class="fa fa-envelope-o"></i>
							</div>
							<h4>Mail</h4>
							<div class="text">
								<address>
									<a href="mailto:tquinlan@quinlanadvertising.com?Subject=Quinlan%20Advertising%20Contact%20Message">tquinlan@QuinlanAdvertising.com</a>
								</address>
							</div>
						</div>
					</div>



				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Contact-data section end -->

		<section id="contact" class="section">

			<div class="container">

				<div class="row">

					<div class="col-md-6 wow bounceInLeft">

						<h4>Get in touch</h4>
						<form id="contact-form" method="post" role="form">

							<div class="ajax-hidden">

								<div class="form-group">
									<label class="sr-only" for="c_name">Name</label>
									<input type="text" id="c_name" class="form-control" name="c_name" placeholder="Name">
								</div>

								<div class="form-group">
									<label class="sr-only" for="c_email">Email address</label>
									<input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
								</div>

								<div class="form-group">
									<textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Your message"></textarea>
								</div>

								<button type="submit" class="btn btn-custom-1-inverse">
									<i class="fa fa-bullhorn icon-before"></i> Send it
								</button>

							</div>

							<div class="ajax-response"></div><!-- Displays status when submitting form -->

						</form>

					</div><!-- .col -->

					<div class="col-md-6 wow bounceInUp">

						<h4></h4>
						<p></p>
						<h4>Follow us</h4>
						<ul class="icons-widget">
							<li><a href="https://www.facebook.com/quinlanadvertising"><i class="fa fa-facebook fa-fw"></i></a></li>
                                                        <li><a href="https://www.linkedin.com/company/quinlan-advertising"><i class="fa fa-linkedin fa-fw"></i></a></li>
						</ul>

					</div><!-- .col -->

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Contact section end -->
