<!DOCTYPE html>
<html lang="en">
<head>
<% include head %>
</head>
<body>

<% include preloader_navbar %>

<% include intro_section %>



<% include about_section %>
<% include team_section %>



<% include portfolio_section %>



<% include contact_section %>


<% include footer %>

<% include js_files %>

</body>
</html>