		<!-- Intro section end -->

		<section id="services" class="section">

			<div class="container" style="width:55%;">

				<div class="row" style="margin-left: auto; margin-right: auto;">

					<div class="col-md-4 wow bounceInLeft">
						<div class="service">
							<div class="icon">
								<i class="fa fa-laptop"></i>
                                                                <i class="fa fa-mobile"></i>
							</div>
							<h4>Web Development</h4>
							<div class="text" style="margin-left:0px;">
								<ul style="width:155%; list-style-type: none; padding:0; margin-left:-34%;">
                                                                    <li>Responsive Bootstrap Design</li>
                                                                    <li>CMS(Content Management System)</li>
                                                                    <li>SEO(Search Engine Optimization)</li>
                                                                    <li>User Experience Development</li>
                                                                  </ul>
							</div>
						</div>
                                                
					</div>


					<div class="col-md-4 pull-right wow bounceInRight">
						<div class="service">
							<div class="icon">
								<i class="fa fa-pencil-square-o"></i>
							</div>
							<h4>Graphic Design</h4>
							<div class="text" style="width:190%; margin-left: -45%;">
								<p>Logo Design, Package Design, Business Cards, Flyers, Web Banners</p>
							</div>
						</div>
					</div>

				</div><!-- .row -->

				<div class="clearfix"></div>

				<div class="row" style="margin-left: auto; margin-right: auto;">

					<div class="col-md-4 wow bounceInLeft">
						<div class="service">
							<div class="icon">
								<i class="fa fa-facebook-square"></i>
                                                                <i class="fa fa-linkedin-square"></i>
							</div>
							<h4>Social Media</h4>
							<div class="text" style="width:190%; margin-left: -45%;">
								<p>Page creation, management, interaction, posting, viral content creation</p>
							</div>
						</div>
					</div>

					<div class="col-md-4 pull-right wow bounceInRight">
						<div class="service">
							<div class="icon">
								<i class="fa fa-camera-retro"></i>
                                                                <i class="fa fa-video-camera"></i>
							</div>
							<h4>Content Creation</h4>
							<div class="text" style="width:190%; margin-left: -45%;">
								<p>Video, Photography, motion graphics</p>
							</div>
						</div>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Services section end -->