

		<section id="team" class="section">

			<div class="container" style="width:85%;">
				<div class="row">
					<div class="col-md-4">
					</div>
					<div class="col-md-4 wow bounceInLeft">
						<div class="member">
							<img class="team-photo" id="tq_hs" src="tq.jpg"  alt="">
							<div class="member-data">
								<h3>Thomas</h3>
                                                                <h3>Quinlan</h3>
								<span>Web Developer</span>
							</div>
							<ul class="icons-widget icons-widget-sm">
								<li><a target="_blank" href="https://www.linkedin.com/in/tquinlan1992"><i class="fa fa-linkedin fa-fw"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
					</div>
				</div>

				<div class="row">

					<div class="col-xs-6 wow bounceInLeft">
						<div class="member">
							<img class="team-photo" id="ln_hs" src="lnorris.jpg"  alt="">
							<div class="member-data">
								<h3>Lindsay</h3>
                                                                <h3>Norris</h3>
								<span>Copywriter</span>
							</div>
							<ul class="icons-widget icons-widget-sm">
								<li><a target="_blank" href="https://www.linkedin.com/in/tquinlan1992"><i class="fa fa-linkedin fa-fw"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="col-xs-6 wow bounceInUp">
						<div class="member">
							<img class="team-photo" id="victor_hs" src="vh.jpg"  alt="">
							<div class="member-data">
								<h3>Victor</h3>
                                                                <h3>Hanas</h3>
								<span>Graphic Designer</span>
							</div>
							<ul class="icons-widget icons-widget-sm">
								<li><a target="_blank" href="https://www.linkedin.com/pub/victor-hanas/4b/4a0/877"><i class="fa fa-linkedin fa-fw"></i></a></li>
							</ul>
						</div>
					</div>
                                </div><!-- .row -->
                                <div class="row" style="margin-top:10px;">
					<div class="col-xs-6 wow bounceInUp">
						<div class="member">
							<img src="jr.jpg" style="width:250px;" alt="">
							<div class="member-data">
								<h3>Justin</h3>
                                                                <h3>Rice</h3>
								<span>Videographer</span>
							</div>
							<ul class="icons-widget icons-widget-sm">
								<li><a target="_blank" href="https://www.linkedin.com/in/justinrice1"><i class="fa fa-linkedin fa-fw"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-6 wow bounceInUp">
						<div class="member">
							<img id="lenny_hs" src="lc.jpg" style="width:250px;" alt="">
							<div class="member-data">
								<h3>Leonardo</h3>
                                                                <h3>Claudio</h3>
								<span>Photographer</span>
							</div>
							<ul class="icons-widget icons-widget-sm">
								<li><a href="http://leographicphotography.com/"><i class="fa fa-linkedin fa-fw"></i></a></li>
								<li><a href="https://www.facebook.com/LeographicPhotography"><i class="fa fa-facebook fa-fw"></i></a></li>
							</ul>
						</div>
					</div>
                                
				</div><!-- .row -->

			</div><!-- .container -->

		</section>

		<!-- Team section end -->
